img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 5px;
  }

  .img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 55px;
  }
  body {          
    background: #eaeaea;
    font-family: 'Roboto', sans-serif;
    
  }

  h1 {
    text-align: center;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
       
  }